[user]
	name = Jonatan Ivanov
	email = jonatan.ivanov@gmail.com
[core]
	excludesfile = ~/.dotfiles/git/.gitignore_global
	editor = code --wait
	pager = delta --theme='ansi-dark'
[interactive]
	diffFilter = delta --color-only
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/GitHub/"]
	path = ~/GitHub/.gitconfig
[includeIf "gitdir:~/git/"]
	path = ~/git/.gitconfig
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
