[user]
	name = Jonatan Ivanov
	email = jonatan.ivanov@gmail.com
	signingkey = CBA8BB62F3825028
[core]
	excludesfile = ~/.dotfiles/git/.gitignore_global
	editor = code --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
	# side-by-side = true
[diff]
	tool = meld
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "meld"]
	cmd = meld $LOCAL $REMOTE
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/GitHub/"]
	path = ~/GitHub/.gitconfig
[includeIf "gitdir:~/git/"]
	path = ~/git/.gitconfig
[difftool "sourcetree"]
	cmd = meld $LOCAL $REMOTE
	path = 
[mergetool "sourcetree"]
	cmd = meld $LOCAL $BASE $REMOTE
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
	gpgSign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
